
body{
  /* background-color: #5F9EA0; */
	font-family: 'Open Sans', sans-serif;
	
}
body > table{
  width: 80%;
}
.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #077886;
	padding: 20px 40px;
  
}
h2{
  
  color:#dddddd;
  text-align: center;
}

.header h2 {
	margin: 0;
}
.container{
  border-radius: 5px;
  overflow: hidden;
  width: 80%;
	max-width: 80%;
  display: block;
  margin: auto;
  
  margin-left: 20%;
}
.form {
	padding: 20px 20px;	
}

.form-control {
	margin-bottom: 5px;
	padding-bottom: 15px;
	position: relative;
}
.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}
.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 80%;
}
.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
} 

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

table{
  border-collapse: collapse;
  /* color: #f0f0f0z; */
}
table.list{
  width:100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
  background-color: #dddddd;
}

input[type=text], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]{
  width: 30%;
  background-color: #008b8b;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form button {
	background-color: #008b8b;
	border: 2px solid #008b8b;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
  cursor: pointer;
}

/* form div.form-action-buttons{
  text-align: center;
} */

button{
  cursor: pointer;
  margin-right: 4px;
}

label.validation-error{
  color:   red;
  margin-left: 5px;
  
}

.hide{
  display:none;
}
.formerror {
  color: red;
}
